<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust13.wishbottle.mapper.TreeReplyMapper" >

    <resultMap id="BaseResultMap" type="com.hust13.wishbottle.entity.TreeReply" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="comment_id" property="commentId" jdbcType="INTEGER" />
        <result column="time" property="time" jdbcType="TIMESTAMP" />
        <result column="replyer_id" property="replyerId" jdbcType="INTEGER" />
        <result column="likes" property="likes" jdbcType="INTEGER" />
    </resultMap>

    <!--映射ReplyVO-->
    <resultMap id="ReplyResultMap" type="com.hust13.wishbottle.model.vo.ReplyVO" >
        <id column="reply_id" property="id" jdbcType="INTEGER" />
        <result column="reply_comment_id" property="commentId" jdbcType="INTEGER" />
        <result column="reply_time" property="time" jdbcType="TIMESTAMP" />
        <result column="reply_replyer_id" property="replyerId" jdbcType="INTEGER" />
        <result column="reply_content" property="content" jdbcType="VARCHAR" />
        <association property="user" javaType="User">
            <id column="user_id" property="id" jdbcType="INTEGER" />
            <result column="user_name" property="name" jdbcType="VARCHAR" />
            <result column="user_avatar" property="avatar" jdbcType="VARCHAR" />
            <result column="user_gender" property="gender" jdbcType="INTEGER" />
            <result column="user_age" property="age" jdbcType="INTEGER" />
            <result column="user_signature" property="signature" jdbcType="VARCHAR" />
            <result column="user_city" property="city" jdbcType="VARCHAR" />
            <result column="user_create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="user_update_time" property="updateTime" jdbcType="TIMESTAMP" />
            <result column="user_ban" property="ban" jdbcType="INTEGER" />
            <result column="user_my_pic" property="myPic" jdbcType="VARCHAR" />
        </association>
    </resultMap>

    <select id="getAllReplies" parameterType="java.lang.Integer" resultMap="ReplyResultMap">
        select
        r.id as reply_id,
        r.content as reply_content,
        u.id as user_id,
        u.name as user_name
        from tree_reply r inner join user u
        on r.replyer_id=u.id
        where r.comment_id=#{commentId}
    </select>

    <insert id="insertSelective" parameterType="TreeReply" useGeneratedKeys="true" keyProperty="id">
        insert into tree_reply
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="commentId != null" >
                comment_id,
            </if>
            <if test="replyerId != null" >
                replyer_id,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="time != null" >
                time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="commentId != null" >
                #{commentId,jdbcType=INTEGER},
            </if>
            <if test="replyerId != null" >
                #{replyerId,jdbcType=INTEGER},
            </if>
            <if test="content != null" >
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="time != null" >
                #{time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

</mapper>