<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust13.wishbottle.mapper.TreeholeMapper" >
  <resultMap id="BaseResultMap" type="com.hust13.wishbottle.entity.Treehole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="writer_id" property="writerId" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="views" property="views" jdbcType="INTEGER" />
    <result column="reply_num" property="replyNum" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="report" property="report" jdbcType="INTEGER" />
    <result column="top" property="top" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="voice" property="voice" jdbcType="VARCHAR" />
  </resultMap>

  <!--映射TreeholeVO-->
  <resultMap id="TreeholeResultMap" type="com.hust13.wishbottle.model.vo.TreeholeVO" >
    <id column="treehole_id" property="id" jdbcType="INTEGER" />
    <result column="treehole_writer_id" property="writerId" jdbcType="INTEGER" />
    <result column="treehole_time" property="time" jdbcType="TIMESTAMP" />
    <result column="treehole_content" property="content" jdbcType="VARCHAR" />
    <result column="treehole_views" property="views" jdbcType="INTEGER" />
    <result column="treehole_reply_num" property="replyNum" jdbcType="INTEGER" />
    <result column="treehole_pic" property="pic" jdbcType="VARCHAR" />
    <result column="treehole_likes" property="likes" jdbcType="INTEGER" />
    <result column="treehole_report" property="report" jdbcType="INTEGER" />
    <result column="treehole_top" property="top" jdbcType="INTEGER" />
    <result column="treehole_title" property="title" jdbcType="VARCHAR" />
    <result column="treehole_voice" property="voice" jdbcType="VARCHAR" />
    <association property="user" javaType="User" >
      <id column="user_id" property="id" jdbcType="INTEGER" />
      <result column="user_name" property="name" jdbcType="VARCHAR" />
      <result column="user_avatar" property="avatar" jdbcType="VARCHAR" />
      <result column="user_gender" property="gender" jdbcType="INTEGER" />
      <result column="user_age" property="age" jdbcType="INTEGER" />
      <result column="user_signature" property="signature" jdbcType="VARCHAR" />
      <result column="user_city" property="city" jdbcType="VARCHAR" />
      <result column="user_create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="user_update_time" property="updateTime" jdbcType="TIMESTAMP" />
      <result column="user_ban" property="ban" jdbcType="INTEGER" />
      <result column="user_my_pic" property="myPic" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    id, writer_id, time, content, views, reply_num, pic, likes, report, top, title, voice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from treehole
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--获取单篇文章展示信息-->
  <select id="getArticleInfo" resultMap="TreeholeResultMap">
    select
    t.id as treehole_id,
    t.time as treehole_id,
    t.title as treehole_title,
    t.content as treehole_content,
    t.pic as treehole_pic,
    t.voice as treehole_voice,
    t.likes as treehole_likes,
    t.reply_num as treehole_reply_num,
    u.id as user_id,
    u.name as user_name,
    u.avatar as user_avatar,
    u.gender as user_gender
    from treehole t inner join user u
    on t.writer_id=u.id
    where t.id=#{id}
  </select>

  <!--获取所有文章列表-->
  <select id="searchAllArticle" resultMap="TreeholeResultMap" >
    select
    t.id as treehole_id,
    t.time as treehole_time,
    t.content as treehole_content,
    t.views as treehole_views,
    t.reply_num as treehole_reply_num,
    t.likes as treehole_likes,
    t.title as treehole_title,
    u.id as user_id,
    u.avatar as user_avatar,
    u.gender as user_gender
    from treehole t
    inner join user u
    on t.writer_id=u.id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from treehole
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hust13.wishbottle.entity.Treehole" >
    insert into treehole (id, writer_id, time,
      content, views, reply_num, 
      pic, likes,
      report, top, title,
      voice)
    values (#{id,jdbcType=INTEGER}, #{writerId,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{views,jdbcType=INTEGER}, #{replyNum,jdbcType=INTEGER}, 
      #{pic,jdbcType=VARCHAR}, #{likes,jdbcType=INTEGER},
      #{report,jdbcType=INTEGER}, #{top,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{voice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hust13.wishbottle.entity.Treehole" useGeneratedKeys="true" keyProperty="id">
    insert into treehole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="writerId != null" >
        writer_id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="replyNum != null" >
        reply_num,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="likes != null" >
        likes,
      </if>
      <if test="report != null" >
        report,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="voice != null" >
        voice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="writerId != null" >
        #{writerId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        #{views,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null" >
        #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="likes != null" >
        #{likes,jdbcType=INTEGER},
      </if>
      <if test="report != null" >
        #{report,jdbcType=INTEGER},
      </if>
      <if test="top != null" >
        #{top,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="voice != null" >
        #{voice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust13.wishbottle.entity.Treehole" >
    update treehole
    <set >
      <if test="writerId != null" >
        writer_id = #{writerId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null" >
        reply_num = #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="likes != null" >
        likes = #{likes,jdbcType=INTEGER},
      </if>
      <if test="report != null" >
        report = #{report,jdbcType=INTEGER},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="voice != null" >
        voice = #{voice,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust13.wishbottle.entity.Treehole" >
    update treehole
    set writer_id = #{writerId,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      views = #{views,jdbcType=INTEGER},
      reply_num = #{replyNum,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARCHAR},
      likes = #{likes,jdbcType=INTEGER},
      report = #{report,jdbcType=INTEGER},
      top = #{top,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      voice = #{voice,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--增加树洞文章表中的浏览量views-->
  <update id="updateArticleViews" parameterType="java.lang.Integer" >
    update treehole
    set views=views+1
    where id=#{id}
  </update>
  <!--增加树洞文章表中的评论回复量-->
  <update id="updateCommentNum" parameterType="java.lang.Integer" >
    update treehole
    set reply_num=reply_num+1
    where id=#{id}
  </update>
  <!--更新文章的点赞数量-->
  <update id="updateLikesNum" parameterType="java.lang.Integer" >
    update treehole
    set likes=likes+1
    where id=#{id}
  </update>
  <!--更新树洞文章举报数目-->
  <update id="updateReportNum" parameterType="java.lang.Integer" >
    update treehole
    set report=report+1
    where id=#{id}
  </update>
</mapper>