<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust13.wishbottle.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hust13.wishbottle.entity.User" >
  <id column="id" property="id" jdbcType="INTEGER" />
  <result column="name" property="name" jdbcType="VARCHAR" />
  <result column="avatar" property="avatar" jdbcType="VARCHAR" />
  <result column="gender" property="gender" jdbcType="INTEGER" />
  <result column="age" property="age" jdbcType="INTEGER" />
  <result column="signature" property="signature" jdbcType="VARCHAR" />
  <result column="city" property="city" jdbcType="VARCHAR" />
  <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  <result column="ban" property="ban" jdbcType="INTEGER" />
  <result column="my_pic" property="myPic" jdbcType="VARCHAR" />
</resultMap>
  <sql id="Base_Column_List" >
    id, name, avatar, gender, age, signature, city, create_time, update_time, ban, my_pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--由openid查uesrid-->
  <select id="findUserIdByOpenId" parameterType="java.lang.String" resultType="java.lang.Integer">
    select user_id
    from session
    where open_id=#{openid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hust13.wishbottle.entity.User" >
    insert into user (id, name, avatar,
      gender, age, signature, 
      city, create_time, update_time, 
      ban, my_pic)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{signature,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{ban,jdbcType=INTEGER}, #{myPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hust13.wishbottle.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="ban != null" >
        ban,
      </if>
      <if test="myPic != null" >
        my_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ban != null" >
        #{ban,jdbcType=INTEGER},
      </if>
      <if test="myPic != null" >
        #{myPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--插入openid\session_ky\user_id至OpenId表中-->
  <insert id="insertOpenId" parameterType="HashMap">
    insert into session(
        open_id, session_key
    )
    values (#{openid}, #{session_key})
  </insert>
  <!--选择更新session表-->
  <update id="updateSessionSelective" parameterType="HashMap">
    update session
    <set >
      <if test="openid != null" >
        open_id = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="session_key != null" >
        session_key = #{session_key,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust13.wishbottle.entity.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ban != null" >
        ban = #{ban,jdbcType=INTEGER},
      </if>
      <if test="myPic != null" >
        my_pic = #{myPic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust13.wishbottle.entity.User" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      signature = #{signature,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ban = #{ban,jdbcType=INTEGER},
      my_pic = #{myPic,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--获取用户信息-->
  <select id="getUserInfo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    id, name, avatar, gender, age, signature, city, my_pic
    from user
    where id=#{userId}
  </select>

  <select id="getAllUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
  </select>

  <!--查询是否存在条目-->
  <select id="ifExist" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*)
    from user
    where id=#{userId}
  </select>

  <select id="genderCount" resultType="java.util.HashMap">
    select gender,count(gender) as 'sum'
    from user
    GROUP BY gender
  </select>
  <select id="ageCount" resultType="java.util.HashMap">
    SELECT
    CASE
    WHEN age &lt;= 20 THEN '小于20岁'
    WHEN age &gt; 20 AND age &lt;= 30 THEN '20岁到30岁'
    WHEN age &gt; 30 AND age &lt;= 40 THEN '30岁到40岁'
    WHEN age &gt; 40 AND age &lt;= 50 THEN '40岁到50岁'
    WHEN age &gt; 50 THEN '50岁以上'
    END AS scope,
    count(*) AS sum
    FROM
    user
    GROUP BY
    CASE
    WHEN age &lt;= 20 THEN '小于20岁'
    WHEN age &gt; 20 AND age &lt;= 30 THEN '20岁到30岁'
    WHEN age &gt; 30 AND age &lt;= 40 THEN '30岁到40岁'
    WHEN age &gt; 40 AND age &lt;= 50 THEN '40岁到50岁'
    WHEN age &gt; 50 THEN '50岁以上'
    END;
  </select>
  <select id="cityCount" resultType="java.util.HashMap">
    select city,count(city) as 'sum'
    from user
    group by city
  </select>
</mapper>