<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust13.wishbottle.mapper.WishbottleMapper" >
  <resultMap id="BaseResultMap" type="com.hust13.wishbottle.entity.Wishbottle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="writer_id" property="writerId" jdbcType="INTEGER" />
    <result column="throw_time" property="throwTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="report" property="report" jdbcType="INTEGER" />
  </resultMap>

  <!--映射WishbottleVO-->
  <resultMap id="WishbottleResultMap" type="com.hust13.wishbottle.model.vo.WishbottleVO" >
    <id property="id" column="wishbottle_id" />
    <result property="writerId" column="wishbottle_writer_id"/>
    <result property="throwTime" column="wishbottle_throw_time"/>
    <result property="updateTime" column="wishbottle_update_time"/>
    <result property="title" column="wishbottle_title"/>
    <result property="content" column="wishbottle_content"/>
    <result property="status" column="wishbottle_status"/>
    <result property="type" column="wishbottle_type"/>
    <result property="report" column="wishbottle_report"/>
    <result property="count" column="wishbottle_count"/>
    <association property="user" javaType="User" columnPrefix="user_">
      <id property="id" column="id"/>
      <result property="name" column="name"/>
      <result property="avatar" column="avatar"/>
      <result property="gender" column="gender"/>
      <result property="age" column="age"/>
      <result property="signature" column="signature"/>
      <result property="city" column="city"/>
      <result property="createTime" column="create_time"/>
      <result property="updateTime" column="update_time"/>
      <result property="ban" column="ban"/>
      <result property="myPic" column="my_pic"/>
      <result property="tags" column="tags"/>
    </association>
    <association property="pick" javaType="Pick" columnPrefix="pick_">
      <id property="id" column="id"/>
      <result property="wishbottleId" column="wishbottle_id"/>
      <result property="pickerId" column="picker_id"/>
      <result property="pickTime" column="pick_time"/>
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    id, writer_id, throw_time, update_time, title, content, status, type, report
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wishbottle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wishbottle
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hust13.wishbottle.entity.Wishbottle" >
    insert into wishbottle
    (id, writer_id, throw_time, update_time, title, content, status, type, report)
    values (#{id,jdbcType=INTEGER}, #{writerId,jdbcType=INTEGER}, #{throwTime,jdbcType=TIMESTAMP},
     #{updateTime,jdbcType=TIMESTAMP},
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{type,jdbcType=INTEGER}, #{report,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hust13.wishbottle.entity.Wishbottle" useGeneratedKeys="true" keyProperty="id">
    insert into wishbottle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="writerId != null" >
        writer_id,
      </if>
      <if test="throwTime != null" >
        throw_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="report != null" >
        report,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="writerId != null" >
        #{writerId,jdbcType=INTEGER},
      </if>
      <if test="throwTime != null" >
        #{throwTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="report != null" >
        #{report,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust13.wishbottle.entity.Wishbottle" >
    update wishbottle
    <set >
      <if test="writerId != null" >
        writer_id = #{writerId,jdbcType=INTEGER},
      </if>
      <if test="throwTime != null" >
        throw_time = #{throwTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="report != null" >
        report = #{report,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust13.wishbottle.entity.Wishbottle" >
    update wishbottle
    set writer_id = #{writerId,jdbcType=INTEGER},
      throw_time = #{throwTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      report = #{report,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据用户id获取已捞取列表 返回WishbottleData封装类List-->
  <select id="selectPickList" resultMap="WishbottleResultMap" parameterType="java.lang.Integer" >
    select
    w.id as wishbottle_id,
    u.id as user_id,
    u.avatar as user_avatar,
    u.gender as user_gender,
    u.city as user_city,
    p.pick_time as pick_pick_time
    from wishbottle w inner join user u on w.writer_id=u.id
    inner join pick p on w.id=p.wishbottle_id
    where p.picker_id=#{userId} and (w.status=1 or status=2)
  </select>
  
  <!--随机返回一个瓶子信息-->
  <select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id, title, content, type
    from wishbottle
    where id not in (
      select
      wishbottle_id
      from pick
      where picker_id=#{userId}
    )
    and (status=1 or status=2)
    and writer_id!=#{userId}
    order by rand() LIMIT 1
  </select>

  <!--根据用户id获取已投放列表 返回WishbottleData封装类List-->
  <select id="selectThrowList" resultMap="WishbottleResultMap" parameterType="java.lang.Integer">
    select w.id as wishbottle_id,
    w.writer_id,
    w.throw_time as wishbottle_throw_time,
    `type` as wishbottle_type,
    (select count(*) from pick where wishbottle_id=w.id) as wishbottle_count
    from wishbottle as w
    where writer_id=#{userId} and `status`=1;
  </select>

  <!--根据用户id获取草稿列表-->
  <select id="selectDraftList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id, update_time
    from wishbottle
    where writer_id=#{userId} and status=4
  </select>

  <!--读取bottle中信息-->
  <select id="readOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id, title, content, type
    from wishbottle
    where id=#{id}
  </select>

  <!--获取所有-->
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wishbottle
  </select>
</mapper>